.home-navbar {
    width: 100%;
    min-height: 750px;
    display: flex;
    background: url("/public/img/picture3.webp") no-repeat center/cover;
}

.home-navbar .navbar-container {
    margin-top: 50px;
}

.home-navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.brand-logo {
    width: 130px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #d7b686;
    transition: width 0.3s;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.login-button {
    background: #3776cc;
    color: #f8f8ff;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Banner text */
.banner-text {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding-left: 50px;
    color: #fff;
}

.head-main-txt {
    font-family: "Roboto Serif", serif;
    font-size: 50px;
    font-weight: 500;
}

.wel-txt {
    font-family: "Roboto Serif", serif;
    font-size: 24px;
    color: #d7b686;
}

.service-txt {
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    color: #d5d5d5;
}

.signup-button {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    border-radius: 6px;
    background: #1976d2;
    color: #fff;
}

/* Basket */
.basket-frame {
  position: relative;
  padding: 10px 8px;
  width: 400px;
  background: #fff;
  border-radius: 16px;
}

/* Basket scroll */
.orders-wrapper {
  max-height: 260px;
  overflow-y: auto;
}

.orders-wrapper::-webkit-scrollbar {
  width: 8px;
}

.orders-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}









